// Place all the styles related to the customer/end_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign-field {
	padding-bottom: 10px;
}

.devise-table{
    th{
      color: #747474;
      font-size: 1.1em;
      border-top: 0px !important;
    }
    td{
      border-top: 0px !important;
    }
}