// Place all the styles related to the customer/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order-box {
	padding: 5px 0px 5px 20px;
}

.order-field {
	padding-left: 20px;
}

.order-action {
	padding-top: 20px;
	text-align: center;
}

.order-button {
	width: 40%;
}