<div class="container">
	<div class="row">
		<div class="col">
			<h3>注文履歴</h3>
			<table class="table">
				<thead>
					<tr>
						<th>購入日時</th>
						<th>購入者</th>
						<th>注文個数</th>
						<th>注文状況</th>
					</tr>
				</thead>
				<tbody>
					<% @orders.each do |order| %>
					<tr>
						<td><%= order.created_at %></td>
						<td><%= order.end_user.first_name %></td>
						<td>%= order.order_detail.quantity %></td>
						<td><%= order.order_status %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>